body {
    margin: 0;
    background-color: #99C089;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    align-self: center;
    background-color: #575757;
    width: 550px;
    height: 600px;
    border-radius: 25px;
    box-shadow: 0px 10px 0px 1px #424242,
                320px 330px 0px 1px #7A976B,
                310px 320px 0px 1px #7A976B,
                300px 310px 0px 1px #7A976B,
                290px 300px 0px 1px #7A976B,
                280px 290px 0px 1px #7A976B,
                270px 280px 0px 1px #7A976B,
                260px 270px 0px 1px #7A976B,
                250px 260px 0px 1px #7A976B,
                240px 250px 0px 1px #7A976B,
                230px 240px 0px 1px #7A976B,
                220px 230px 0px 1px #7A976B,
                210px 220px 0px 1px #7A976B,
                200px 210px 0px 1px #7A976B,
                190px 200px 0px 1px #7A976B,
                180px 190px 0px 1px #7A976B,
                170px 180px 0px 1px #7A976B,
                160px 170px 0px 1px #7A976B,
                150px 160px 0px 1px #7A976B,
                140px 150px 0px 1px #7A976B,
                130px 140px 0px 1px #7A976B,
                120px 130px 0px 1px #7A976B,
                110px 120px 0px 1px #7A976B,
                100px 110px 0px 1px #7A976B,
                90px 100px 0px 1px #7A976B,
                80px 90px 0px 1px #7A976B,
                70px 80px 0px 1px #7A976B,
                60px 70px 0px 1px #7A976B,
                50px 60px 0px 1px #7A976B,
                40px 50px 0px 1px #7A976B,
                30px 40px 0px 1px #7A976B,
                20px 30px 0px 1px #7A976B,
                10px 20px 0px 1px #7A976B;
    position: absolute;
    display: grid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.display {
    display: flex;
    flex-direction: column;
    background-color: #BBD0BF;
    border-radius: 10px;
    box-shadow: 0px 5px 0px 1px #A5B6AA,
                0px -5px 0px 1px #A5B6AA;
    margin: 50px 32px 30px 32px !important;
    padding-top: 0 !important;
    user-select: none;
}

.btn {
    border-radius: 5px;
    box-shadow: 0px 5px 0px 1px #171717;
    height: 75px;
    background-color: #FFFFFF;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 1000 !important;
    user-select: none;
    transition: all 300ms ease;
}

.btn:active {
    background-color: #C1C1C1;
    box-shadow: 0px -2px 2px 1px #1e1e1e;
}

.btn:hover {
    cursor: pointer;
}

.calc {
    margin: 1rem;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0 32px;
}

#main, #sub {
    text-align: end;
    margin: 0;
    margin-right: 1rem;
}

#sub {
    opacity: 0.5 !important;
}

#main {
    font-size: 3.2rem;
}

#equals {
    background-color: rgb(255, 157, 0);
}